@CHARSET "UTF-8";

body{
	margin: 0;
	padding: 0;
	font-size: 14px;
}
.text-css{
	display: none;
}

hr{
	margin: 1em auto;
}

body > div.ui-widget-header{
	padding: .5em;
}

#switcher{
	display: inline-block;
	margin-left: 30px;
}

#with_or_without_plugin, #show_hidden_area{
	float: right;
	margin-top: -0.4em;
	margin-left: 2em;
}

select{
	vertical-align: middle;
}

